/*Utils*/
:root {
  --color-primary: #757575;
  --color-brand: #212121;
  --color-accent: #2196f3;
  --color-button: #f5f4fa;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray-icons: #afb1b8;
  --color-background-hero: #c4c4c4;
  --color-background-footer: #2f303a;
  --overlay: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --input-border: rgba(33, 33, 33, 0.2);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

/*Base*/
body {
  font-family: "Roboto", "Raleway", sans-serif;
  font-size: 14px;
  color: var(--color-primary);
  background-color: var(--color-white);
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

/*Components*/
.address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .address {
    text-align: left;
  }
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
}

.address__map {
  color: var(--color-white);
  text-decoration: none;
}

.address__mail,
.address__tel {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.button {
  font-family: "Roboto";
  display: block;
  margin: 0 auto;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--color-white);
  background-color: var(--color-accent);
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 100%;
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.checkbox__input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
}

.checkbox__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--color-primary);
}
@media screen and (max-width: 479px) {
  .checkbox__label {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.checkbox__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--color-white);
  width: 16px;
  height: 15px;
  border: 2px solid var(--color-brand);
  border-radius: 2px;
  -webkit-transition: border-color 250ms var(--timing-function), background-color 250ms var(--timing-function);
  transition: border-color 250ms var(--timing-function), background-color 250ms var(--timing-function);
}
.checkbox__input:checked + .checkbox__box {
  background-color: var(--color-accent);
  border: 0;
}

.checkbox__link {
  color: var(--color-accent);
}

.checkbox__icon {
  fill: var(--color-white);
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

.clients__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-brand);
}
@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.clients__item {
  display: block;
  border-radius: 4px;
  border: 1px solid var(--color-gray-icons);
  text-align: center;
  -ms-flex-preferred-size: calc((100% - 60px) / 2);
      flex-basis: calc((100% - 60px) / 2);
  margin: 15px;
}
@media screen and (min-width: 768px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 180px) / 6);
        flex-basis: calc((100% - 180px) / 6);
  }
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  fill: var(--color-gray-icons);
  -webkit-transition: border-color 250ms var(--timing-function), fill 250ms var(--timing-function);
  transition: border-color 250ms var(--timing-function), fill 250ms var(--timing-function);
}
.clients__link:hover, .clients__link:focus {
  border-color: var(--color-accent);
  fill: var(--color-accent);
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--color-white);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.close-button:hover, .close-button:focus {
  fill: var(--color-accent);
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.features__item {
  display: block;
  margin: 15px;
}
@media screen and (min-width: 768px) {
  .features__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    -ms-flex-preferred-size: calc((100% - 120px) / 4);
        flex-basis: calc((100% - 120px) / 4);
  }
}

.features__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: var(--color-button);
  border-radius: 4px;
}

.features__title {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-brand);
}
@media screen and (min-width: 768px) {
  .features__title {
    text-align: left;
  }
}

.features__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--color-primary);
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-bottom: 50px;
  gap: 8px;
}
@media screen and (min-width: 768px) {
  .filter {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.filter__button {
  padding: 6px 22px;
  height: 38px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-brand);
  background-color: #f5f4fa;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
}
.filter__button:hover, .filter__button:focus {
  color: var(--color-white);
  background-color: var(--color-accent);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.footer-social {
  display: block;
  margin-top: 60px;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer-social {
    margin-left: 70px;
    margin-right: 93px;
  }
}

.footer-social__text {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-white);
}

.footer-social__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.footer-social__link {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: var(--color-white);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}
.footer-social__link:hover, .footer-social__link:focus {
  background-color: var(--color-accent);
}

.footer {
  background-color: var(--color-background-footer);
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer {
    padding-bottom: 0;
  }
}

.footer__logo {
  display: block;
  text-align: center;
  margin-bottom: 20px;
  padding-top: 60px;
}
@media screen and (min-width: 1200px) {
  .footer__logo {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .footer__boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .footer__thump {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__thump {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media (min-width: 768px) {
  .header {
    border-bottom: 1px solid #ececec;
  }
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 1200px) {
  .header__nav {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

.header__logo {
  margin-top: 16px;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .header__logo {
    margin-top: 26px;
    margin-bottom: 26px;
  }
}
@media (min-width: 1200px) {
  .header__logo {
    margin-right: 92px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.header__burger-menu {
  margin-top: 10px;
  margin-bottom: 10px;
  fill: var(--color-black);
  background-color: var(--color-white);
  border: 0;
}
@media (min-width: 768px) {
  .header__burger-menu {
    display: none;
  }
}

.header__menu {
  display: none;
}
@media (min-width: 768px) {
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (min-width: 1200px) {
  .header__menu {
    margin-right: 315px;
  }
}

.header__item:not(:last-child) {
  margin-right: 50px;
}

.header__link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-brand);
  text-decoration: none;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.header__link:hover, .header__link:focus {
  color: var(--color-accent);
}

.current-page::after {
  display: inline-block;
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -2px;
  background-color: var(--color-accent);
  border-radius: 2px;
}

.contacts-header {
  display: none;
}
@media screen and (min-width: 768px) {
  .contacts-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.contacts-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  padding-top: 21px;
  padding-bottom: 21px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 1200px) {
  .contacts-header__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
}

.contacts-header__mail,
.contacts-header__phone {
  color: var(--color-primary);
  text-decoration: none;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.contacts-header__mail:hover,
.contacts-header__phone:hover {
  color: var(--color-accent);
}
.contacts-header__mail:focus,
.contacts-header__phone:focus {
  color: var(--color-accent);
}

.contacts-header__mail-icon,
.contacts-header__phone-icon {
  margin-right: 8px;
  fill: currentColor;
}
.contacts-header__mail-icon:hover,
.contacts-header__phone-icon:hover {
  color: var(--color-accent);
}
.contacts-header__mail-icon:focus,
.contacts-header__phone-icon:focus {
  color: var(--color-accent);
}

.hero {
  background-image: var(--overlay), url("../images/hero-background-img-480.jpg");
  background-color: var(--color-background-hero);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  height: 400px;
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: var(--overlay), url("../images/hero-background-img-768.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    background-image: var(--overlay), url("../images/hero-background-img-1600.jpg");
  }
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/hero-background-img-480@2x.jpg");
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/hero-background-img-768@2x.jpg");
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/hero-background-img-1600@2x.jpg");
  }
}
.hero__title {
  padding-top: 118px;
  margin: 0 auto 30px auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-white);
}
@media screen and (min-width: 480px) {
  .hero__title {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
    padding-top: 200px;
  }
}

.hero__button {
  width: 216px;
  height: 50px;
}
.hero__button:hover, .hero__button:focus {
  background-color: rgba(33, 150, 243, 0.6);
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--color-accent);
}
.logo--black-part {
  color: var(--color-black);
}
.logo--white-part {
  color: var(--color-white);
}
@media (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.2;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  width: 100%;
  height: 100%;
  background-color: var(--color-white);
  z-index: 1;
}
.mobile-menu.is-open {
  display: block;
}
.mobile-menu__close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  fill: var(--color-brand);
  background-color: var(--color-white);
  border: 0;
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}
.mobile-menu__close-button:hover, .mobile-menu__close-button:focus {
  fill: var(--color-accent);
}

.mobile-menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  margin-bottom: auto;
}

.mobile-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
  list-style: none;
  margin-bottom: auto;
}

.mobile-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--color-brand);
  text-decoration: none;
}

.active-page {
  color: var(--color-accent);
}

.mobile-menu__phone {
  display: block;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--color-accent);
  text-decoration: none;
}
@media screen and (min-width: 480px) {
  .mobile-menu__phone {
    font-size: 34px;
  }
}

.mobile-menu__mail {
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--color-primary);
  padding-bottom: 64px;
  text-decoration: none;
}

.mobile-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  gap: 10px;
}

.mobile-social__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}

.mobile-social__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-accent);
  text-decoration: none;
}
@media screen and (min-width: 480px) {
  .mobile-social__link {
    font-size: 18px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-form {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 96%;
  max-height: 609px;
  height: 100%;
  background-color: var(--color-white);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  overflow: auto;
}
@media screen and (min-width: 480px) {
  .modal-form {
    width: 450px;
    max-height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal-form {
    width: 528px;
    max-height: 581px;
  }
}

.modal-form__title {
  padding-top: 40px;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-brand);
}

.modal-form__field {
  padding-left: 40px;
  padding-right: 40px;
}

.modal-form__label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--color-primary);
  margin-bottom: 4px;
}

.modal-form__control {
  position: relative;
  margin-bottom: 10px;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  padding: 11px 12px 11px 38px;
  border: 1px solid var(--input-border);
  border-radius: 4px;
  outline: none;
}
.modal-form__input :focus {
  border-color: var(--color-accent);
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: var(--color-brand);
}

.modal-form__control:focus-within .modal-form__icon {
  fill: var(--color-accent);
}

.modal-form__textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid var(--input-border);
  border-radius: 4px;
  resize: none;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--color-brand);
}
.modal-form__textarea:focus {
  border-color: var(--color-accent);
  outline: none;
}
.modal-form__textarea::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__textarea::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__textarea::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form__textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__button {
  width: 200px;
  height: 50px;
}

.portfolio {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .portfolio {
    padding: 94px 0;
  }
}

.production {
  display: none;
}
@media screen and (min-width: 1200px) {
  .production {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.production__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-brand);
}

.production__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.production__thumb {
  position: relative;
}

.production__thumb > .production__meta {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  text-align: center;
  padding-top: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--color-white);
}

.production__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.project-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}

.project-card__link {
  text-decoration: none;
  cursor: pointer;
}

.project-card__item {
  display: block;
  margin: 15px;
  background: var(--color-white);
  -webkit-transition: -webkit-box-shadow 250ms var(--timing-function);
  transition: -webkit-box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
}
.project-card__item:hover, .project-card__item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 768px) {
  .project-card__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .project-card__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
  }
}

.project-card__thumb {
  position: relative;
  overflow: hidden;
}

.project-card__description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--color-white);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition: -webkit-transform 250ms var(--timing-function);
  transition: -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
}

.project-card__item:hover .project-card__description {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project-card__name {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .project-card__name {
    padding: 20px 24px 56px 24px;
  }
}

.project-card__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-brand);
}

.project-card__text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--color-primary);
}

.social__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  margin-top: 16px;
  padding-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .social__list {
    padding-bottom: 30px;
  }
}

.social__link {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: var(--color-gray-icons);
  background-color: var(--color-white);
  border-radius: 50%;
  -webkit-transition: fill 250ms var(--timing-function), background-color 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function), background-color 250ms var(--timing-function);
}
.social__link:hover, .social__link:focus {
  fill: var(--color-white);
  background-color: var(--color-accent);
}

@media screen and (min-width: 1200px) {
  .subscribe-form__field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    gap: 12px;
  }
}

.subscribe-form__send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
@media screen and (min-width: 1200px) {
  .subscribe-form__send {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.subscribe-form__label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-white);
}
.subscribe-form__input {
  height: 50px;
  margin-bottom: 20px;
  padding: 15px 16px 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: var(--color-accent);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: var(--color-background-footer);
  outline: none;
}
.subscribe-form__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-form__input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-form__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-form__input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-form__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (max-width: 479px) {
  .subscribe-form__input {
    min-width: 100%;
  }
}
@media screen and (min-width: 480px) {
  .subscribe-form__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe-form__input {
    width: 358px;
    margin-bottom: 0;
  }
}

.subscribe-form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  width: 200px;
  height: 50px;
}

.subscribe-form__icon {
  fill: var(--color-white);
}

.team {
  background-color: var(--color-button);
  padding-top: 60px;
  padding-bottom: 60px;
}

.team__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-brand);
}
@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.team__card {
  display: block;
  background: var(--color-white);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 767px) {
  .team__card:not(:last-child) {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 768px) {
  .team__card {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .team__card {
    -ms-flex-preferred-size: calc((100% - 120px) / 4);
        flex-basis: calc((100% - 120px) / 4);
  }
}

.team__name {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-brand);
}

.team__position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--color-primary);
}/*# sourceMappingURL=main.css.map */