.checkbox {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.checkbox__input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
}

.checkbox__label {
  display: flex;
  align-items: center;
  gap: 7px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--color-primary);
}

.checkbox__box {
  display: flex;
  align-items: center;
  background-color: var(--color-white);
  width: 16px;
  height: 15px;
  border: 2px solid var(--color-brand);
  border-radius: 2px;
  transition: border-color 250ms var(--timing-function),
  background-color 250ms var(--timing-function);
  .checkbox__input:checked + & {
    background-color: var(--color-accent);
    border: 0;
  }
}

.checkbox__link {
  color: var(--color-accent);
}

.checkbox__icon {
  fill: var(--color-white);
}
