.features {
  padding-top: 60px;
  padding-bottom: 60px;
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.features__item {
  display: block;
  margin: 15px;
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 4 * 15px) / 2);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 8 * 15px) / 4);
  }
}

.features__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
   background-color: var(--color-button);
  border-radius: 4px;
}

.features__title {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-brand);
  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.features__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--color-primary);
  
}
