.footer {
  background-color: var(--color-background-footer);
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-bottom: 0 ;
  }
}

.footer__logo {
  display: block;
  text-align: center;
  margin-bottom: 20px;
  padding-top: 60px;
  @media screen and (min-width: 1200px) {
   text-align: left;
  }
}


.footer__boxes {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}

.footer__thump {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}
