// .hero {
//   max-width: 1600px;
//   height: 600px;
//   margin-left: auto;
//   margin-right: auto;
//   padding: 200px 0;
//   background-image: var(--overlay), url('../images/header-img.jpg');
//   background-color: var(--color-background-hero);
//   background-repeat: no-repeat;
//   background-position: center;
//   text-align: center;
// }

// .hero__title {
//   width: 696px;
//   margin: 0 auto 30px auto;
//   font-weight: 900;
//   font-size: 44px;
//   line-height: 1.36;
//   text-align: center;
//   letter-spacing: 0.06em;
//   text-transform: uppercase;
//   color: var(--color-white);
// }

// .hero__button {
//   width: 216px;
//   height: 50px;
//   &:hover,
//   &:focus {
//     background-color: rgba(33, 150, 243, 0.6);
//   }
// }
