// .production {
//   padding-top: 0;
// }

// .production__title {
//   margin-bottom: 50px;
//   font-weight: 700;
//   font-size: 36px;
//   line-height: 1.166;
//   text-align: center;
//   letter-spacing: 0.03em;
//   color: var(--color-brand);
// }

// .production__list {
//   display: flex;
//   justify-content: space-between;
// }

// .production__thumb {
//   position: relative;
// }

// .production__thumb > .production__meta {
//   position: absolute;
//   bottom: 0;
//   width: 100%;
//   height: 70px;
//   text-align: center;
//   padding-top: 27px;
//   font-weight: 700;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.03em;
//   text-transform: uppercase;
//   background-color: rgba(47, 48, 58, 0.8);
//   color: var(--color-white);
// }

// .production__img {
//   display: block;
//   max-width: 100%;
//   height: auto;
// }
