// .social__list {
//   list-style: none;
//   display: flex;
//   justify-content: center;
//   gap: 10px;
//   padding-bottom: 30px;
// }

// .social__link {
//   width: 44px;
//   height: 44px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   fill: var(--color-gray-icons);
//   background-color: var(--color-white);
//   border-radius: 50%;
//   transition: fill 250ms var(--timing-function), background-color 250ms var(--timing-function);
//   &:hover,
//   &:focus {
//   fill: var(--color-white);
//   background-color: var(--color-accent);
//   }
// }


