// .subscribe-form__field {
//   display: flex;
//   align-items: flex-end;
//   justify-content: center;
//   gap: 12px;
// }

.subscribe-form__label {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-white);
  padding-bottom: 20px;
}

.subscribe-form__input {
  //   width: 358px;
  //   height: 50px;
  min-width: 100%;
  margin-bottom: 20px;
  padding: 15px 16px 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: var(--color-accent);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: var(--color-background-footer);
  outline: none;
  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
}

.subscribe-form__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 200px;
  height: 50px;
}

.subscribe-form__icon {
  fill: var(--color-white);
}
