// .team {
//   background-color: var(--color-button);
// }

// .team__title {
//   margin-bottom: 50px;
//   font-weight: 700;
//   font-size: 36px;
//   line-height: 1.17;
//   text-align: center;
//   letter-spacing: 0.03em;
//   color: var(--color-brand);
// }

// .team__list {
//   display: flex;
//   justify-content: space-between;
// }

// .team__card {
//   background: var(--color-white);
//   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
//     0px 2px 1px rgba(0, 0, 0, 0.2);
//   border-radius: 0px 0px 4px 4px;
// }

// .team__thumb {
//   padding-top: 30px;
//   padding-bottom: 16px;
// }

// .team__name {
//   margin-bottom: 10px;
//   font-weight: 500;
//   font-size: 16px;
//   line-height: 1.19;
//   text-align: center;
//   letter-spacing: 0.03em;
//   color: var(--color-brand);
// }

// .team__position {
//   font-weight: 400;
//   font-size: 16px;
//   line-height: 1.19;
//   letter-spacing: 0.03em;
//   text-align: center;
// }
