:root {
  --color-primary: #757575;
  --color-brand: #212121;
  --color-accent: #2196f3;
  --color-button: #f5f4fa;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray-icons: #afb1b8;
  --color-background-hero: #c4c4c4;
  --color-background-footer: #2f303a;
  --overlay: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --input-border: rgba(33, 33, 33, 0.2);
}